
.inner-container {
    margin: auto;
}

.inner-container2 {
    margin: auto;
}

.inner1 {
    float: left;
    width: 25%;
    border: 1px solid dimgrey;
    font-weight: bold;
    padding: 10px;
}

.inner {
    float: left;
    width: 25%;
    border: 1px solid dimgrey;
    padding: 10px;
}

.outer-container{
    padding: 5px;
    background-color: grey;
    border: 2px solid deepskyblue;
    margin-bottom: 10px;
    border-radius: 10px;
}